<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="./template.css">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <title>Core Team</title>
</head>
<body>
   
    <!-- NAVBAR part start -->
    <header class="header-area">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg fixed-top">
          <a class="navbar-brand" href="../index.html">
            <img src="../img/logo.svg" alt="Logo" class="logo" />
          </a>
          <div class="mr-auto"></div>
  
          <button class="navbar-menu" onclick="openNav()">
            <img src="../img/Desktop-menu-icon.svg" alt="Logo" class="menu-icon" />
          </button>
        </nav>
        <!-- side menu -->
        <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <img src="../img/go-back.svg" alt="Back" class="back-icon"
          /></a>
          <a onclick="closeNav()" class="smenu" href="./index.html">Home</a>
          <a onclick="closeNav()" class="smenu" href="#aboutArea">About Us</a>
          <a onclick="closeNav()" class="smenu" href="./template/coreTeam.html">Team</a>
          <a onclick="closeNav()" class="smenu" target="_blank" href="https://github.com/GDSC-BVP-DET-Navi-Mumbai">Projects</a>
          <a onclick="closeNav()" class="smenu" href="#">Blogs</a>
          <a onclick="closeNav()" class="smenu" href="#contactArea">Contact Us</a>
        </div>
        <!-- Dark Overlay element -->
        <div class="overlay" id="overlay"></div>
      </header>
  <!-- Main part start -->
   


    <main class="team-main">

        
    <div class="main-text  text-center">
        <h1 class="hero-title">
            <span class="g1">T</span><span class="o1">e</span
            ><span class="o2">a</span><span class="g2">m</span
            > of 2021-22
          </h1>
  </div>
  <div class="para">Teamwork Makes the <br>Dream work</br></div>
        

  <section class="team-cards">
    <div class="container">
        <div class="row card-row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col">
                
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col">
                <div class="card lead-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">GDSC Lead</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col">
                
            </div>
        </div>
        <div class="row card-row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-1">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-2">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-3">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row card-row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-1">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-2">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-3">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row card-row">
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-1">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-2">
                
            </div>
            <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-xs-12 center-col card-col-3">
                <div class="card core-team-card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                    <div class="card_content">
                      <h4 class="card_title">Core Team Member</h4>
                      <h1 class="card_text">Name-Surname </h1>
                      <div class="card-logo_item">
                      <div class="card-logo">
                          <a href="http://">
                              <img src="../img/LinkedIN_white.svg" alt="" srcset="">
                          </a>
                      </div>
       
                      <div class="card-logo1">
                          <a href="http://">
                              <img src="../img/Instagram_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      
                      <div class="card-logo2">
                          <a href="http://">
                              <img src="../img/Github_black.svg" alt="" srcset="">
                          </a>
                     
                      </div>
                      <div class="card-logo3">
                          <a href="http://">
                              <img src="../img/www..svg" alt="" srcset="">
                          </a>
                      
                      </div>
                  </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </section>
</main>

      <footer class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-xs-12">
              <div class="footer-left">
                <div class="footer-title">Get in touch with us?</div>
                <div class="social-footer-icons">
                  <a href="#"><img src="../img/Instagram.svg" alt="Intragram" /></a>
                  <a href="#"><img src="../img/github.svg" alt="github" /></a>
                  <a href="#"><img src="../img/Mail.svg" alt="mail" /></a>
                  <a href="#"><img src="../img/Discord.svg" alt="discord" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-xl-1 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-lg-3 col-xl-3 col-md-12 col-sm-12 col-xs-12">
              <div class="footer-center">
                <div class="footer-title">Feedback</div>
                <div class="footer-center-desc">Your Opinion Matters</div>
  
                <button class="hero-btn footer-btn">Your Word Matters</button>
              </div>
            </div>
            <div class="col-lg-1 col-xl-1 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">
              <div class="footer-right">
                <div class="footer-title footer-right-title">
                  Location of our HQ.
                </div>
                <div class="footer-right-desc">
                  <img
                    src="../img/location.svg"
                    alt="location"
                    class="location-footer"
                  />
                  <div class="desc-text">
                    BVP Department of Engineering and Technology - Navi Mumbai
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="made-with-love">
            <div class="text-center">
              Made in love &hearts by the
              <a class="footer-team" href="/template/websiteTeam.html">team</a> of GDSC Bharati Vidyapeeth
              Department of Engineering and Technology - Navi Mumbai
            </div>
          </div>
        </div>
      </footer>
      
    <!-- Optional JavaScript; choose one of the two! -->
 <!-- jQuery and Bootstrap Bundle -->
 <script src="script/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
</body>
</html>
