@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  background-color:#202020;
  
}
*/
body{
  background-color: #202020;
 font-family:  "Nunito", sans-serif !important;
} 

.main-text{
  margin-top: 10rem;
}
.text{
font-family: 'Nunito', sans-serif;
font-weight: 900;
color: #FFFFFF;
font-size: 3rem;
text-align: center;

}
.web-text{

  text-align: center;
  margin-top: -2rem;
}

.team-main{
  background-color: var(--primary-color) !important;
  padding: 7rem 0 10rem 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 8rem;
}

.lead-card{
    border:4px solid #EA4235 !important;
}

.core-team-card{
    border:4px solid #FABB04 !important;
}

.cards_item {
  display: flex;
  padding: 1rem;
  
  margin-top: 1rem;
}


  .team-cards{
      margin-top: 10rem !important;
  }

  .card-row{
      margin-top: 8rem !important;
      position: relative;
  }
  
.card-col-1{
    position: absolute;
    top: -4rem ;
}

.card-col-3{
    position: absolute;
    top: -8rem ;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
  .card_text{
    margin-left: -4rem;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
  .card_text{
    margin-left: -4rem;
  }
}

.card {
  background-color:  #FFFFFF;
  
  border-radius: 0.25rem;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width:17rem;
  
}
.card_image{

  background-color: #fff;
    padding: 3.4px;
 

}
.card_content {
  padding: 1rem;
  background: #FFFFFF;

height: 9.2rem;

}

.card_title {
  color: #202020 ;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  /* margin-right: -1rem; */
  font-style: italic;
}

.card_text {
  color:#202020;
  
  font-size: 1.8rem;
  margin-left: -1.5rem;
  margin-bottom: 0.5rem;  
  margin-top: -1rem;  
  font-weight: 800;
}
.card-logo_item{
  margin-top: 7rem;
  margin-left: 0rem;
 
}
.card-logo{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: -4rem;
  margin-top: -10rem;
  width: 9.6rem;
}
.card-logo1{
  padding: 4rem;

 
  margin-left: -1.8rem;
  margin-top: -10.6rem;
  width: 9.6rem;
}
.card-logo2{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: 0.5rem;
  margin-top: -9.6rem;
  width: 9.6rem;
}
.card-logo3{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: 2.6rem;
  margin-top: -10.6rem;
  width: 9.6rem;
}
