@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  --Nunito: "Nunito", sans-serif;
  --Lato: "Lato", sans-serif;
  --para-font-size: 1.2rem;
  --para-font-size-mobile: 1rem;
  --super-header-font-size: 3.5rem;
  --super-header-font-size-mobile: 2.5rem !important;
  /* --header-font-size: 2rem; */
  --footer-header-font-size: 2.2rem;
  /* --footer-para-font-size: 2rem; */

  overflow-x: hidden !important;


  --primary-color: #202020;
  --red-color: #EA4235;
  --blue-color: #4286F5;
  --green-color: #109D58;
  --yellow-color: #FABB04;
}

.para{
  font-size: 1.5rem;
  font-weight: 500;
  color: white !important;
  font-family: var(--Nunito);
  text-align: center;
  margin-top:2rem !important;
}

/* Navbar start */
.navbar {
  background-color: var(--primary-color) !important;
  padding: 1rem 2rem;
}
.logo {
  width: 80%;
}
.menu-icon {
  width: 70% !important;
}

.nav-item {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
}

/* The sidepanel menu */
.sidepanel {
  padding-top: 10rem !important;
  background-color: #4286f5;
  transition: all 0.5s ease-in-out;

  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0; /* Black w/opacity */
  overflow-x: hidden;
}

/* The sidepanel links */

.sidepanel .smenu {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-family: var(--Nunito);
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1.5rem 2rem 0;
}
.smenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #202020e0; /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1200px;
}

/* hero */
.hero-area {
  background-color: #202020;
  height: 100vh !important;
  display: flex;
  align-items: center;
}

.hero-left {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column wrap;
}
.hero-right {
  position: absolute;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.g1 {
  color: #4286f5;
}
.o1 {
  color: #d03e32;
}
.o2 {
  color: #fabb04;
}
.g2 {
  color: #4286f5;
}
.l {
  color: #109d58;
}
.e {
  color: #ea4235;
}
.hero-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
}
.hero-desc {
  font-size: var(--para-font-size);
  font-weight: 300;
  width: 30rem;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  margin: 3rem 0 2rem 0;
}
.hero-btn {
  background-color: var(--blue-color);
  color: #fff;
  font-family: var(--Lato);
  font-weight: 700;
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}

.team-area .hero-btn {
  background-color: var(--yellow-color);
}

.team-area .hero-btn:hover {
  box-shadow: inset 16rem 0 0 0 var(--blue-color);
}

.hero-btn:hover {
  box-shadow: inset 16rem 0 0 0 #fabb04;
}

.hero-image {
  margin-top: 5rem;
  width: 90%;
}
.social-hero-icons img {
  margin-top: -2.5rem;
  margin-left: 1.5rem;
  width: 4%;
}

.line-left {
  z-index: 20;
  width: 24%;
  margin-left: -24%;
  margin-top: -2rem;
  border-top: 0.2rem solid white;
}
.line-right {
  width: 97%;
  z-index: 21;
  margin-left: 27%;
  margin-top: -0.25rem;
  border-top: 0.2rem solid white;
}

.about-area {
  background-color: #202020;
  height: 100% !important;
  padding: 15rem 0 5rem 0;
  display: flex;
  align-items: center;
}

.about-area .hero-btn {
  background-color: var(--green-color);
}

.about-area .hero-btn:hover {
  box-shadow: inset 16rem 0 0 0 var(--blue-color);
}

.about-img{
  margin-top:-3rem;
}

.list-row{
  margin-top: 10rem !important;
}

.about-list{
  list-style-type: none;
  color: white !important;
  font-size: var(--para-font-size);
  font-weight: 600 !important;
}

.about-list li{
  display: inline;
  margin-right: 2.5rem;
  cursor: pointer;
  
  position: relative;
  top: 0;
  transition: all ease-in 0.3s;
}

.about-list li:nth-child(1):hover,.about-list li:nth-child(5):hover{
  top: -10px;
  color: var(--red-color) !important;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--red-color) !important;
}

.about-list li:nth-child(2):hover,.about-list li:nth-child(6):hover{
  top: -10px;
  color: var(--blue-color) !important;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--blue-color) !important;
}

.about-list li:nth-child(3):hover,.about-list li:nth-child(7):hover{
  top: -10px;
  color: var(--yellow-color) !important;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--yellow-color) !important;
}

.about-list li:nth-child(4):hover,.about-list li:nth-child(8):hover{
  top: -10px;
  color: var(--green-color) !important;
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--green-color) !important;
}

/* team area  */
.team-area{
  background-image: url('/img/team-home-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:7rem 0;
}

/* work area */
.work-area {
  border-top: #202020 solid 0.1rem;
  background-color: #fff;
  height: 100vh !important;
}

/* blog area */
.blog-area {
  background-color: #202020;
  height: 100vh !important;
}

.blog-right {
}

.blog-desc {
  margin: 3rem 0 2rem 0 !important;
  font-size: var(--para-font-size);
  font-weight: 300;
  width: 18rem;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
}
.blog-btn {
  background-color: #4286f5;
  color: #fff;
  font-family: var(--Lato);
  font-weight: 700;
  padding: 0.5rem 4rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}

/* contact area  */
.contact-area {
  background-color: #4286f5 !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.contact-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
  margin-bottom: 2rem;
}
.contact-desc {
  font-size: var(--para-font-size);
  font-weight: 600;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  margin: 5rem 30rem 2rem 30rem;
}
.contact-btn {
  margin-top: 2rem;
  background-color: #fabb04;
  color: #fff;
  font-family: var(--Lato);
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  font-weight: 700;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.social-contact-icons img {
  margin-top: 3rem;
  margin-right: 1rem;
}

/* Have a project  */
.have-a-project {
  background-color: #202020 !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.project-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
}
.project-desc {
  font-size: var(--para-font-size);
  font-weight: 600;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  margin: 5rem 29rem 2rem 29rem;
}
.project-btn {
  margin-top: 2rem;
  background-color: #109d58;
  color: #fff;
  font-family: var(--Lato);
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  font-weight: 700;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.project-btn:hover {
  box-shadow: inset 10rem 0 0 0 #fabb04;
}

/* footer */
.footer-area {
  padding: 8rem 0 2rem 0;
  background-color: #202020;
  height: 60% !important;
  color: #fff;
  border-top: #fff solid 0.15rem;
}

.footer-title {
  font-size: var(--footer-header-font-size);
  font-weight: 800;
  font-family: var(--Nunito);
  line-height: 1.1;
  /* padding-bottom: 2rem; */
}
.social-footer-icons img {
  margin-top: 2rem;
  margin-right: 1rem;
  width: 14%;
}
.footer-center-desc {
  font-size: var(--para-font-size);
  font-weight: 400;
  font-family: var(--Nunito);
  margin-top: 1rem;
}
.footer-btn {
  margin-top: 1.5rem;
}
.footer-right-title {
  width: 70%;
}
.footer-right-desc {
  margin-top: 1.8rem;
  display: flex;
  font-size: var(--para-font-size);
  font-weight: 400;
  font-family: var(--Nunito);
  line-height: 1.1;
}
.made-with-love {
  margin-top: 11rem;
  font-size: var(--para-font-size);
  font-weight: 300;
  font-family: var(--Nunito);
}
.footer-team {
  color: #ea4235;
  font-size: 1.5rem;
  text-decoration: underline solid #ea4235;
}
.footer-team:hover {
  color: #ea4235;
}

.location-footer{
  margin-right: 1rem;
}

/* media queries */
@media only screen and (max-width: 768px) {
  body{
    width: 100vw !important;
    overflow-x: hidden;
  }

  .navbar {
    background-color: var(--primary-color) !important;
    padding: 1rem 1rem;
    width: 100vw !important;
    flex-wrap: nowrap;
  }

  .logo {
    width: 90%;
  }
  .menu-icon {
    width: 90% !important;
  }

  .hero-title{
    font-size: var(--super-header-font-size-mobile);
  }

  .hero-desc{
    font-size: var(--para-font-size-mobile);
    width: auto;
    margin: 2rem 0;
  }

  .about-area {
    background-color: #202020;
    height: 100% !important;
    padding: 10rem 0 5rem 0;
    display: flex;
    align-items: center;
  }
  
  .about-area .hero-btn {
    background-color: var(--green-color);
  }
  
  .about-area .hero-btn:hover {
    box-shadow: inset 16rem 0 0 0 var(--blue-color);
  }
  
  .about-img{
    margin-top:-3rem;
    margin-bottom: 5rem !important;
  }
  
  .list-row{
    margin-top: 8rem !important;
    overflow-x: scroll !important;
  }
  
  .about-list{
    list-style-type: none;
    color: white !important;
    font-size: var(--para-font-size-mobile);
    font-weight: 600 !important;
  }
  
  .about-list li{
    display: inline;
    margin-right: 2.5rem;
    cursor: pointer;
    
    position: relative;
    top: 0;
    transition: all ease-in 0.3s;
  }
  

}
