@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  --Nunito: "Nunito", sans-serif;
  --Lato: "Lato", sans-serif;
  --para-font-size: 1.3rem;
  --super-header-font-size: 4rem;
  --super-header-font-size-mobile: 4rem !important;
  --header-font-size: 4rem;
}

/* Navbar start */
.navbar {
  background-color: #202020 !important;
  padding: 1rem 2rem;
}
.logo {
  width: 80%;
}
.menu-icon {
  width: 70% !important;
}

.nav-item {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
}

/* The sidepanel menu */
.sidepanel {
  padding-top: 10rem !important;
  background-color: #4286f5;
  transition: all 0.5s ease-in-out;

  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0; /* Black w/opacity */
  overflow-x: hidden;
}

/* The sidepanel links */

.sidepanel .smenu {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-family: var(--Nunito);
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1.5rem 2rem 0;
}
.smenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #202020e0; /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1300px;
}

/* hero */
.hero-area {
  background-color: #202020;
  height: 100vh !important;
}

.hero-left {
  position: absolute;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.g1 {
  color: #4286f5;
}
.o1 {
  color: #d03e32;
}
.o2 {
  color: #fabb04;
}
.g2 {
  color: #4286f5;
}
.l {
  color: #109d58;
}
.e {
  color: #ea4235;
}
.hero-title {
  font-size: var(--super-header-font-size);
  font-weight: 800;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
  margin-bottom: 2rem;
}
.hero-desc {
  font-size: var(--para-font-size);
  font-weight: 300;
  width: 35rem;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  padding-bottom: 2rem;
}
.hero-btn {
  background-color: #4286f5;
  color: #fff;
  font-family: var(--Lato);
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.hero-btn:hover {
  box-shadow: inset 16rem 0 0 0 #fabb04;
}
.hero-right {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column wrap;
}
.hero-image {
  margin-top: 0.5rem;
}
.social-hero-icons img {
  margin-top: -2.5rem;
  margin-left: 1.5rem;
  width: 4%;
}

.line-left {
  z-index: 20;
  width: 24%;
  margin-left: -24%;
  margin-top: -2rem;
  border-top: 0.2rem solid white;
}
.line-right {
  width: 97%;
  z-index: 21;
  margin-left: 27%;
  margin-top: -0.25rem;
  border-top: 0.2rem solid white;
}

.about-area {
  background-color: #202020;
  height: 100vh !important;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 1rem !important;
  }
  .logo {
    width: 70%;
  }
  .nav-item {
    padding: 1rem 0 0 0.2rem;
  }
  .menu-icon {
    width: 4.3rem !important;
    margin-top: -4.5rem !important;
  }

  .navbar-brand {
    width: auto !important;
  }
  .name-para {
    color: #fff;
    font-family: var(--Nunito);
    font-size: 0.9rem;
    font-weight: 600;
  }

  .hero-area {
    height: 100vh;
    width: 100% !important;
  }
  .hero-left {
    height: 100vh !important;
  }
  .hero-title {
    margin-top: -20rem;
    font-size: 2rem;
    width: 80vw;
  }
  .hero-desc {
    font-size: 1rem;
    width: 78vw;
  }

  .hero-right {
    margin-top: 11rem;
  }
  .overlay {
    display: none;
  }
}
