@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  --Nunito: "Nunito", sans-serif;
  --Lato: "Lato", sans-serif;
  --para-font-size: 1.3rem;
  --super-header-font-size: 4rem;
  --super-header-font-size-mobile: 4rem !important;
  /* --header-font-size: 2rem; */
  --footer-header-font-size: 2.5rem;
  /* --footer-para-font-size: 2rem; */
}

/* Navbar start */
.navbar {
  background-color: #fff !important;
  padding: 1rem 2rem;
}
.logo {
  width: 80%;
}
.menu-icon {
  width: 70% !important;
}

.nav-item {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
}

/* The sidepanel menu */
.sidepanel {
  padding-top: 10rem !important;
  background-color: #4286f5;
  transition: all 0.5s ease-in-out;

  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0; /* Black w/opacity */
  overflow-x: hidden;
}

/* The sidepanel links */

.sidepanel .smenu {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-family: var(--Nunito);
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1.5rem 2rem 0;
}
.smenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #202020e0; /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1300px;
}

/* hero */
.hero-area {
  background-color: #202020;
  height: 100vh !important;
}

.hero-left {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column wrap;
}
.hero-right {
  position: absolute;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.g1 {
  color: #4286f5;
}
.o1 {
  color: #d03e32;
}
.o2 {
  color: #fabb04;
}
.g2 {
  color: #4286f5;
}
.l {
  color: #109d58;
}
.e {
  color: #ea4235;
}
.hero-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
  margin-bottom: 2rem;
}
.hero-desc {
  font-size: var(--para-font-size);
  font-weight: 300;
  width: 35rem;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  padding-bottom: 2rem;
}
.hero-btn {
  background-color: #4286f5;
  color: #fff;
  font-family: var(--Lato);
  font-weight: 700;
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.hero-btn:hover {
  box-shadow: inset 16rem 0 0 0 #fabb04;
}

.hero-image {
  margin-top: 10rem;
}
.social-hero-icons img {
  margin-top: -2.5rem;
  margin-left: 1.5rem;
  width: 4%;
}

.line-left {
  z-index: 20;
  width: 24%;
  margin-left: -24%;
  margin-top: -2rem;
  border-top: 0.2rem solid white;
}
.line-right {
  width: 97%;
  z-index: 21;
  margin-left: 27%;
  margin-top: -0.25rem;
  border-top: 0.2rem solid white;
}

.about-area {
  background-color: #202020;
  height: 100vh !important;
}
/* work area */
.work-area {
  border-top: #202020 solid 0.1rem;
  background-color: #fff;
  height: 100vh !important;
}

/* blog area */
.blog-area {
  background-color: #202020;
  height: 100vh !important;
}

.blog-right {
  margin-top: -3rem;
  position: absolute;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.blog-desc {
  margin-top: 0.5rem;
  font-size: var(--para-font-size);
  font-weight: 300;
  width: 18rem;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  padding-bottom: 2rem;
}
.blog-btn {
  background-color: #4286f5;
  color: #fff;
  font-family: var(--Lato);
  font-weight: 700;
  padding: 0.5rem 4rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}

/* contact area  */
.contact-area {
  background-color: #4286f5 !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.contact-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
  margin-bottom: 2rem;
}
.contact-desc {
  font-size: var(--para-font-size);
  font-weight: 600;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  margin: 5rem 30rem 2rem 30rem;
}
.contact-btn {
  margin-top: 2rem;
  background-color: #fabb04;
  color: #fff;
  font-family: var(--Lato);
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  font-weight: 700;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.social-contact-icons img {
  margin-top: 3rem;
  margin-right: 1rem;
}

/* Have a project  */
.have-a-project {
  background-color: #202020 !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
}
.project-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  line-height: 1.1;
  color: #fff;
}
.project-desc {
  font-size: var(--para-font-size);
  font-weight: 600;
  font-family: var(--Nunito);
  line-height: 1.5;
  color: #fff;
  margin: 5rem 29rem 2rem 29rem;
}
.project-btn {
  margin-top: 2rem;
  background-color: #109d58;
  color: #fff;
  font-family: var(--Lato);
  padding: 0.5rem 2rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  font-weight: 700;
  border: transparent !important;
  transition: all 0.3s ease-in-out;
}
.project-btn:hover {
  box-shadow: inset 10rem 0 0 0 #fabb04;
}

/* footer */
.footer-area {
  padding: 5rem 0 2rem 0;
  background-color: #202020;
  height: 60% !important;
  color: #fff;
  border-top: #fff solid 0.15rem;
}

.footer-title {
  font-size: var(--footer-header-font-size);
  font-weight: 800;
  font-family: var(--Nunito);
  line-height: 1.1;
  /* padding-bottom: 2rem; */
}
.social-footer-icons img {
  margin-top: 2rem;
  margin-right: 1rem;
  width: 14%;
}
.footer-center-desc {
  font-size: var(--para-font-size);
  font-weight: 400;
  font-family: var(--Nunito);
  margin-top: 1rem;
}
.footer-btn {
  margin-top: 1.5rem;
}
.footer-right-title {
  width: 70%;
}
.footer-right-desc {
  margin-top: 1.8rem;
  display: flex;
  font-size: var(--para-font-size);
  font-weight: 400;
  font-family: var(--Nunito);
  line-height: 1.1;
}
.made-with-love {
  margin-top: 8rem;
  font-size: var(--para-font-size);
  font-weight: 300;
  font-family: var(--Nunito);
}
.footer-team {
  color: #ea4235;
  font-size: 1.5rem;
  text-decoration: underline solid #ea4235;
}
.footer-team:hover {
  color: #ea4235;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #fff !important;
    padding: 0.1rem 0.4rem;
    width: 100% !important;
  }
}
