@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  background-color:#202020;
  
}
*/
body{
  background-color: #202020;
 font-family:  "Nunito", sans-serif !important;
} 

.navbar {
  background-color: var(--primary-color) !important;
  padding: 1rem 2rem;
}
.logo {
  width: 80%;
}
.menu-icon {
  width: 70% !important;
}

.nav-item {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
}

/* The sidepanel menu */
.sidepanel {
  padding-top: 10rem !important;
  background-color: #4286f5;
  transition: all 0.5s ease-in-out;

  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0; /* Black w/opacity */
  overflow: hidden;
}

/* The sidepanel links */

.sidepanel .smenu {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-family: var(--Nunito);
  font-size: 2.5rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4.5rem 2rem 0;
}

.sidepanel .smenu:hover {
  color: var(--yellow-color);
}

.smenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #202020e0; /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1200px;
}

.main-text{
  margin-top: 10rem;
}
.text{
font-family: 'Nunito', sans-serif;
font-weight: 900;
color: #FFFFFF;
font-size: 3rem;
text-align: center;

}
.web-text{

  text-align: center;
  margin-top: -2rem;
}

.team-main{
  background-color: var(--primary-color) !important;
  padding: 7rem 0 10rem 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 8rem;
}

.lead-card{
    border:4px solid #EA4235 !important;
}

.core-team-card{
    border:4px solid #FABB04 !important;
}

.cards_item {
  display: flex;
  padding: 1rem;
  
  margin-top: 1rem;
}


  .team-cards{
      margin-top: 10rem !important;
  }

  .card-row{
      margin-top: 8rem !important;
      position: relative;
  }
  
.card-col-1{
    position: absolute;
    top: -4rem ;
}

.card-col-3{
    position: absolute;
    top: -8rem ;
}


.card {
  background-color:  #FFFFFF;
  
  border-radius: 0.25rem;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width:17rem;
  
}
.card_image{

  background-color: #fff;
    padding: 3.4px;
 

}
.card_content {
  padding: 1rem;
  background: #FFFFFF;

height: 9.2rem;

}

.card_title {
  color: #202020 ;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  /* margin-right: -1rem; */
  font-style: italic;
}

.card_text {
  color:#202020;
  
  font-size: 1.8rem;
  margin-left: -1.5rem;
  margin-bottom: 0.5rem;  
  margin-top: -1rem;  
  font-weight: 800;
}
.card-logo_item{
  margin-top: 7rem;
  margin-left: 0rem;
 
}
.card-logo{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: -4rem;
  margin-top: -10rem;
  width: 9.6rem;
}
.card-logo1{
  padding: 4rem;

 
  margin-left: -1.8rem;
  margin-top: -10.6rem;
  width: 9.6rem;
}
.card-logo2{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: 0.5rem;
  margin-top: -9.6rem;
  width: 9.6rem;
}
.card-logo3{
  padding: 4rem;
  list-style: none;
  margin: 1rem;
  margin-left: 2.6rem;
  margin-top: -10.6rem;
  width: 9.6rem;
}

.center-col{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width:768px) {
  .card-col-1{
    position: relative;
}

.card-col-3{
    position: relative;
    top: 6rem;
}

.navbar {
  background-color: var(--primary-color) !important;
  padding: 1rem 1rem;
  width: 100vw !important;
  flex-wrap: nowrap !important;
  /* display: none; */
}



.logo {
  width: 90%;
}
.menu-icon, .back-icon {
  width: 90% !important;
}
}


@media only screen and (min-width:768px) and (max-width:1024px) {
  .card-col-1{
    position: relative;
}

.card-row:nth-child(2){
  margin-top: 12rem !important;
}

.card-col-2{
    position: relative;
}

.card-col-3{
    position: relative;
}

.card-row{
  margin-top:3rem;
}

.first{
  order: 1;
}

.card_text {
  color:#202020;
  
  font-size: 1.6rem !important;
  margin-left: 0rem; 
  font-weight: 800;

  text-align: left !important;
}

.second{
  order: 2;
}

.card_title {
  font-size: 0.8rem !important;
}

}